@model IEnumerable<MyProject.Models.Keyboard>
@{
    ViewData["Title"] = @ViewBag.Brand ;
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Brand</h1>
    <h3>@ViewBag.Size</h3>
    
</div>
<div class="text-center p-3" style="background-color: #ffffff4a; border-radius: 0.9rem; ">
    @foreach (Keyboard k in Model.OrderBy(k => k.Title))
    {
        <a class="btn btn-dark btn-lg m-2" asp-controller="Keyboards" asp-action="Details" asp-route-id="@k.ID">@k.Title</a>
    }
</div>
    <style>
        body {
            background-image: url('/images/keyboardbg.jpg');
            background-repeat:no-repeat;
            background-position: center;
            background-attachment:fixed;
            background-size:contain;
            background-color: #a4bbc1;
              color:#fff;
              text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
            }
    </style>